.vs/
.Laboratory work 1/x64/
.Laboratory work 1/Laboratory work 1.sln
.Laboratory work 1/Laboratory work 1/x64/
.Laboratory work 1/Laboratory work 1/Laboratory work 1.vcxproj
.Laboratory work 1/Laboratory work 1/Laboratory work 1.vcxproj.filters
.Laboratory work 1/Laboratory work 1/Laboratory work 1.vcxproj.user


